<div class="sidebar">
    <div class="link-container">
        <a href="/all">View All Items</a>
        <a>Search Database</a>
        <a href="/searchname" class="searchtype">Name</a>
        <a href="/searchcat" class="searchtype">Catalog Number</a>
        <a href="/searchser" class="searchtype">Serial Number</a>
        <a href="/searchloc" class="searchtype">Location</a>
        <a href="/add">Add Item</a>
    </div>
</div>
