<div class="sidebar">
    <div class="link-container">
        <a href="/all">View All Items</a>
        <a href="/search">Search Database</a>
        <a href="/add">Add Item</a>
    </div>
    <div class="link-container">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>
</div>
